img{
  width: 100%;
}
 
.article-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
  margin-left: 5%;
  margin-right: 5%;
}
 
.article-container {
	padding: 0 10px;
}

.article-container h2 {
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 700;
}

.img-container {
	overflow: hidden;
}

.img-container img {
	border-radius: 15px;
	cursor: pointer;
}

.img-container img:hover {
	transform: scale(1.3);
	transition: transform 0.6s ease-in-out;
}

.img-container:hover {
	border-radius: 15px;
}

.article-body {
	margin-top: 20px;
	margin-left: 15px;
}

.article-container p {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 300;
	line-height: 25px;
}

.article-footer span {
	color: #8a8a8a;
	font-size: 14px;
	font-weight: 500;
}

/*buttonList */
.categories {
	margin: 2rem auto;
	text-align: center;
  margin-top: 100px;
}

.btn-category {
	padding: 12px 25px;
	border: none;
	margin-right: 20px;
	cursor: pointer;
	border-radius: 15px;
	background-color: #f1f1f1;
	color: #0a0a0a;
	font-weight: 700;
	font-size: 16px;
	transition: all 0.7s cubic-bezier(1, -0, 0.6, 1.35);
}

.btn-category:hover {
	background-color:#0a0a0a;
  color:#f1f1f1 ;
}

.btn-category:last-child {
	margin-right: 0;
}






.categorias_productos{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.categorias_productos h1{
  text-align: center;
  font-size: 2em;
}


/*pg blog*/
.pg_container{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.pg_container h1{
  text-align: center;
  font-size: 2em;
}

.pg_img{
  max-height: 400px;
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  margin-bottom: 40px;
  margin-top: 40px;
}

.pg_lista li{
  margin-bottom: 10px;
}



@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgb(248, 248, 248) 0%, rgb(20, 20, 20)100%);
}


/*Logo*/
.navbar-logo {
  color: #fff;
  justify-content: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: sans-serif;
  width: 100px;
}

.jackInTheBox {
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*navbar*/

.navbar {
  background: linear-gradient(90deg, rgb(175, 157, 76) 0%, rgb(26, 23, 23)100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: -115px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 15;
  margin-bottom: 110px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.7rem 3rem;
  transition: 0.5s;
}

.nav-links:hover {
  background-color: black;
  border-radius: 4px;
  transition: all 1s;
  border-radius: 15px;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

/*Button registro*/
.s{
  text-decoration: none;
  color: black;
}

.boton {
  text-decoration: none;
  display: inline-block;
  width: 150px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 0.9s;
  text-align: center;
  font-size: 20px;

}

.boton:hover {

  background: black;
  color: white;
  cursor: pointer;
}

/*pagina inicio*/

.img_inicio {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.intro {
  margin-top: 0px;
  margin-left: 180px;
  margin-right: 180px;
  text-align: center;
}

.home h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400px;
  font-size: 60px;
  margin-bottom: 0px;
  text-align: center;
}



/*Blog*/
.pg_blog_img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.pg_blog {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.img_blog {
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.articulo-item {
  width: 240.68px;
  height: 250px;
  margin: 15px;
  background-color: #444;
  border: 1px solid black;
}

.mascara {
  height: 135px;
}

.blog_caja {
  margin-left: 10%;
  margin-top: 50px;
}

.blog_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.datos {
  display: flex;
  flex-direction: column;
}

.blog_caja {
  max-width: 990px;
  display: flex;
  flex-flow: row wrap
}

.caja_x {
  display: flex;
}

.img_general {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/*buscador*/

.lateral {
  margin-left: -80px;
  display: none;
}

.lateral>div {
  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  margin-top: 50px;
}

.lateral input[type="text"],
.lateral input[type="text"],
.lateral textarea,
.edit_form input[type="text"],
.edit_form input[type="text"],
.edit_form textarea {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}

/*iconno carrito*/

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #000;
  display: none;
}

.icon-cart:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: end;
  padding: 30px 0 40px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  margin-right: 20px;
  display: none;
}

.container-icon {
  position: relative;
}

.icon-cart {
  stroke: #fff;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;

  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}


/* Productos */

.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
} 

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.2);
}

.info-product {
  padding: 0px 40px;
  line-height: 0.5;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

/*Productos secciones*/
.info-articles h2, .categoria{
  margin-left: 13%;
}

.seccion-titulo{
  margin-top: 125px;
  text-align: center;
  color: rgb(22, 22, 21);
  font-size: 2.5em;
}


/*nose*/
.cart-empty {
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.btn-clear-all {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  display: block;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover {
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}


/*Footer-------------------------*/
.main-footer {
  background: linear-gradient(90deg, rgb(175, 157, 76) 0%, rgb(26, 23, 23)100%);
  color: white;
  padding: 30px 20px;
}

.footer__title {
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
}

.footer__input {
  background: rgb(26, 23, 23);
  width: 90%;
  display: block;
  padding: 20px;
  border: 1px solid #555;
}

.copy {
  color: #020202;
}

@media screen and (max-width: 1051px) {
  /*pagina inicio*/

  .img_inicio {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .intro {
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
  }

  .home h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 40px;
    margin-bottom: 0px;
    text-align: center;
  }

  /*nav*/


  .navbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 1s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 70%;
    display: table;
    margin-bottom: 100px;
  }

  .nav-links:hover {
    background-color: #07ad31;

  }

  /* --*/
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 12%;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  .button {
    display: none;
  }


  /* Productos */
  .container-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }


}


@media screen and (min-width:960px) {

  /*Footer*/
  .main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .copy {
    grid-column-start: span 3;
    text-align: center;
  }

  
}



@media screen and (max-width:500px) {

  .navbar-logo {
    display: none;
  }

  .img_inicio {
    display: none;
  }
  .intro {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .home h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200px;
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
  }

  /* Productos */

  .container-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .img_general {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: none;
  }
}

@media (max-width: 520px) {
	.title h1 {
		font-size: 40px;
	}

	.title img {
		width: 250px;
	}

	.article-list {
		grid-template-columns: 1fr;
		gap: 45px;
	}

	.article-container {
		padding: 0 15px;
	}

	.article-body {
		margin-top: 10px;
		margin-left: 10px;
	}

	.article-container h2 {
		font-size: 18px;
	}

	.article-container p {
		font-size: 13px;
	}

	.article-footer span {
		font-size: 12px;
	}

	.categories {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 5px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.btn-category {
		margin: 5px;
	}
}